@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;

}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}


.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Sección Inicio*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.jpg);
    background-size: cover;
    height: 120vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #1CB698;
}

/*Sección Sobre mi*/
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #1CB698;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
}

.sobremi .fila .col {
    width: calc(50% - 10px);
    justify-content: space-between;
    min-height: 100%;
}

.sobremi .fila .col p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #1CB698;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Estilos para la Experiencia */
.sobremi .fila .col .experiencia span {
    font-weight: bold;
    color: #1CB698;
}

/* Estilos para los intereses */
.sobremi .fila .col .contenedor-intereses .interes {
    width: 150px;
    height: auto;
    background-color: #252A2E;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    text-align: center;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #1CB698;
    transform: scale(1.05);
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi .fila .col .contenedor-intereses .interes span {
    font-weight: bold;
    color: #fff;
}

.sobremi .fila .col .contenedor-intereses .interes p {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}


/* Sección Habilidades */
.habilidades {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1));
    color: #fff;
    padding: 10px 20px;
}

.habilidades .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.habilidades h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #1CB698;
}

.habilidades .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.habilidades .fila .col {
    width: 45%;
    padding: 20px;
    background: #252A2E;
    border-radius: 10px;
    transition: 0.3s;
}

.habilidades .fila .col:hover {
    transform: scale(1.05);
    background: #1CB698;
}

.habilidades .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.habilidades .fila .col h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.habilidades .icono-habilidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.habilidades .icono-habilidad img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.habilidades .icono-habilidad img:hover {
    transform: scale(1.1);
}

.habilidades .habilidad {
    margin-bottom: 15px;
    text-align: center;
}

.habilidades .habilidad span {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.habilidades button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    transition: 0.3s;
}

.shabilidades button:hover {
    background-color: #1CB698;
    border-color: #1CB698;
}

/* Habilidades Profesionales */
.habilidades .fila .col .contenedor-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.habilidades .fila .col .skill-card {
    width: 180px;
    height: 140px;
    background-color: #252A2E;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
}

.habilidades .fila .col .skill-card:hover {
    background-color: #1CB698;
    transform: scale(1.05);
}

.habilidades .fila .col .skill-card i {
    font-size: 35px;
    margin-bottom: 8px;

}


.habilidades .fila .col .skill-card p {
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Asegurar equilibrio en altura */
.habilidades .fila .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Seccion Proyectos */
.section-proyectos {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.section-proyectos .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.section-proyectos h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #1CB698;
}

.section-proyectos .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-proyectos .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.section-proyectos .galeria .proyecto img {
    width: 100%;
    display: block;
}

.section-proyectos .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.section-proyectos .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.section-proyectos .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.section-proyectos .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}


/* SECCIÓN CONTACTO */
.contacto {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    color: #1CB698;
    margin-bottom: 20px;
}

.contacto p {
    margin: 20px;
}

.contacto .formulario-contacto {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacto .formulario-contacto .input-group {
    display: flex;
    gap: 10px;
}

.contacto .formulario-contacto input,
.contacto .formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contacto .formulario-contacto textarea {
    resize: none;
    height: 120px;
}

.contacto .formulario-contacto button {
    background-color: #1CB698;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contacto .formulario-contacto button:hover {
    background-color: #17a086;
}


/* FOOTER*/
footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #1CB698;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .habilidades .fila {
        display: block;
    }

    .habilidades .fila .col {
        width: 100%;
    }

    .habilidades .fila .col .barra-skill {
        width: 100%;
    }


    .proyectos .galeria {
        display: block;
        width: 100%;
    }

    .proyectos .galeria .proyecto {
        max-width: 100%;
    }

    .proyectos .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}

/* MENSAJE ALERTA*/
.alerta {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro semitransparente */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    font-size: 16px;
    backdrop-filter: blur(5px);
    /* Efecto de desenfoque */
}

.alerta button {
    margin-top: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

.alerta button:hover {
    background: white;
    color: black;
}